/**
HTML OVERRIDES
**/
body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/**
BOOTSTRAP OVERRIDES
**/

/**
CUSTOM CLASSES
**/

.header{
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    overflow: hidden;
    text-align: center;
    padding: 4px;
}

.cell{
    text-align: center;
    padding: 2px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #eee;
}

.rentalRow:nth-child(even){
    background-color: rgb(188, 208, 233);
}

.rentalRow:hover{
    box-shadow: inset 0px 0px 10px #777;
    cursor: pointer;
}

/**
ID's
**/
#rentalList{
    width: 100%;
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 1em;
}

#topBar{
    width: 100vw;
    margin: 0;
    padding: 0.5em;
    border-bottom: 1px solid #aaa;
}

#searchHolder{
    width: 100%;
    margin-top: 1em;
}

#search{
    font-size: 1.5em;
    display: inline;
}

#searchIcon{
    margin: 0.3em;
    margin-left: 1em;
}

#rentalOverview{
    padding: 0.5em;
    width: 100%;
}